html {
  font-size: 62.5%;
  /* color */
  --primary-color: #f6e6d6;
  --secondary-color: #f8efe8;
  --accent-color: #fbbbff;
  --main-text-color: #1d1d1e;
  --subtext-color: #848484;
  --subtext-color-2: #f9f9f9;
  --dividers-color: #999999;
  /* font */
  h1,
  .title {
    /* font-size: 4.8rem; */
    font-size: clamp(2.4rem, 4.8vw, 4.8rem);
    font-family: Playfair Display, serif;
    font-weight: 500;
    color: var(--main-text-color);
  }
  h2 {
    /* font-size: 3.6rem; */
    font-size: clamp(1.8rem, 3.6vw, 3.6rem);
    font-family: Nunito Sans, sans-serif;
    color: var(--main-text-color);
  }
  h3 {
    /* font-size: 3rem; */
    font-size: clamp(1.5rem, 3vw, 3rem);
    font-family: Nunito Sans, sans-serif;
    color: var(--main-text-color);
  }
  h4 {
    /* font-size: 2.4rem; */
    font-size: clamp(1.2rem, 2.4vw, 2.4rem);
    font-family: Nunito Sans, sans-serif;
    color: var(--main-text-color);
  }
  h5 {
    /* font-size: 1.8rem; */
    font-size: clamp(0.9rem, 1.8vw, 1.8rem);
    font-family: Nunito Sans, sans-serif;
    color: var(--main-text-color);
  }
  .h5 {
    /* font-size: 1.8rem; */
    font-size: clamp(0.9rem, 1.8vw, 1.8rem);
    font-family: Nunito Sans, sans-serif;
    color: var(--main-text-color);
  }
  .p-400 {
    /* font-size: 1.6rem; */
    font-size: clamp(0.8rem, 1.6vw, 1.6rem);
    font-family: Nunito Sans, sans-serif;
  }
  .p-600 {
    /* font-size: 1.6rem; */
    font-size: clamp(0.8rem, 1.6vw, 1.6rem);
    font-family: Nunito Sans, sans-serif;
    font-weight: 600;
  }
  .caption-footnotes {
    /* font-size: 1.4rem; */
    font-size: clamp(0.7rem, 1.4vw, 1.4rem);
    font-family: Nunito Sans, sans-serif;
    color: var(--main-text-color);
  }
  .main-text {
    color: var(--main-text-color);
  }
  .sub-text {
    color: var(--subtext-color);
  }
  .btn {
    background-color: var(--main-text-color);
    color: #fff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
  }
}

/* ======================= common ======================= */
.main-content {
  width: 1140px;
  margin: 0 auto;
  max-width: calc(100% - 50px);
  line-height: 1.6;
  position: relative;
}
/* ======================= header ======================= */
.header {
  padding: 36px 0;
  background-color: var(--secondary-color);
}
.header .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
  /* position: fixed; */
}
.header .body .logo {
  width: 45px;
  object-fit: contain;
  transform: scale(2);
  margin-left: 50%;
}
.header .body .nav {
  height: 50px;
  width: 85%;
  gap: 2%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .body .nav a {
  text-decoration: none;
  text-transform: uppercase;
}
.header .body .nav a:hover {
  color: var(--main-text-color);
}
.header .body .nav .nav-links {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
/* .header .body .nav .nav-contact {
  width: 12.5%;
  display: flex;
  justify-content: space-between;
  gap: 12.5%;
}
.header .body .nav .nav-contact img {
  width: 100%;
} */
.header .body .nav .btn-book {
  width: 17.5%;
  height: 100%;
  margin-right: 0;
}

/* ======================= main ======================= */
/* ======================= hero ======================= */
.hero {
  background-color: var(--secondary-color);
  padding-bottom: 50px;
}
.hero .body {
  display: flex;
}
.hero img {
  width: 100%;
  object-fit: cover;
}
.hero .content {
  position: absolute;
  width: 40%;
  top: 35%;
  left: 5%;
  /* transform: translate(-50%, -50%); */
  text-align: center;
}
.hero .content h1 {
  padding-bottom: 14px;
}

/* ======================= about ======================= */
.about {
  padding: 80px 0;
  background-color: var(--secondary-color);
}
.about .description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
.about .description > * {
  flex: 1;
}
.about .about-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.about .about-img img {
  width: 20%;
}

/* ======================= why-choose-us ======================= */
.why-choose-us {
  padding: 80px 0;
  background-color: var(--secondary-color);
}
.why-choose-us .body > .description {
  margin: 0 auto 60px;
  text-align: center;
  width: 49%;
}
.why-choose-us .reason-list {
  display: flex;
  height: 668px;
  justify-content: space-between;
  gap: 2.1%;
}
.why-choose-us .col1,
.why-choose-us .col2,
.why-choose-us .col3 {
  flex: 1;
}
.why-choose-us .col1,
.why-choose-us .col3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.6%;
}
.why-choose-us .col2 {
  text-align: center;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.why-choose-us .col2 .description {
  margin: 14% 14% 7.5%;
}
.why-choose-us .col2 .btn {
  padding: 14px 28px;
}
.why-choose-us .col2 img {
  width: 80%;
  margin-bottom: 0;
}
.why-choose-us .reason-list .reason {
  background-color: var(--primary-color);
  height: 50%;
}
.why-choose-us .reason-list .reason .content {
  margin: 14% 7.5% auto 7.5%;
}
.why-choose-us .reason-list .reason .content img {
  margin-bottom: 24px;
}
.why-choose-us .reason-list .reason .content h4 {
  margin-bottom: 12px;
}

/* =============== service ======================= */
.service {
  padding: 80px 0;
  background-color: var(--secondary-color);
}
.service .body > .description {
  margin: 0 auto 60px;
  text-align: center;
  width: 49%;
}
.service .service-list {
  display: flex;
  justify-content: space-between;
  gap: 2.1%;
}
.service .service-item {
  flex: 1;
  /* margin: auto 0; */
  overflow: hidden;
}
.service .service-item img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 24px;
}
.service .service-list .service-item:first-child img,
.service .service-list .service-item:last-child img {
  aspect-ratio: 1;
}

/* =============== reference ======================= */
.reference {
  padding: 80px 0;
  background-color: var(--secondary-color);
}
.reference .title {
  margin: 0 auto 60px;
  text-align: center;
}
.reference .reference-list {
  display: flex;
  justify-content: space-between;
  gap: 2.1%;
}
.reference .reference-item {
  flex: 1;
  /* margin: 0 12px; */
}
.reference .reference-item > img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  margin-bottom: 24px;
}
.reference .reference-item .description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.reference .reference-item .description img {
  width: 7%;
}

/* =============== price ======================= */
.price {
  padding: 100px 0;
  background-color: var(--primary-color);
}
.price .title {
  margin: 0 auto 60px;
  text-align: center;
}
.price .price-item {
  display: flex;
  justify-content: space-between;
  gap: 2%;
}
.price .price-item > img {
  width: 50%;
  object-fit: cover;
}
.price .price-item .price-detail {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}
.price .price-item .price-detail .column {
  flex: 1;
}
.price .price-item .price-detail .column h2 {
  margin-bottom: 2%;
}
.price .price-item .price-detail .column ul {
  margin-left: 5%;
}
.price .price-item .price-detail .column li {
  display: flex;
  justify-content: space-between;
}
.price .price-item .price-detail .column.full-width {
  flex: 0 0 100%;
}

/* =============== staff ======================= */
.staff {
  padding: 80px 0;
  background-color: var(--secondary-color);
}
.staff .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
}
.staff .description {
  flex: 1;
}
.staff .staff-content {
  display: flex;
  justify-content: space-between;
  flex: 1.5;
  gap: 5%;
}
.staff .staff-content .staff-item img {
  width: 100%;
}
.staff .staff-content .staff-item img:first-child {
  margin-bottom: 24px;
}
.staff .staff-content .staff-item img:last-child {
  width: 85%;
  margin-top: 24px;
}

/* feedback */
.feedback {
  padding: 80px 0;
  background-color: var(--secondary-color);
}
.feedback .title {
  text-align: center;
  margin-bottom: 60px;
}
.feedback .customer-item {
  display: flex;
  background-color: var(--primary-color);
  justify-content: space-between;
  align-items: flex-start;
  gap: 2%;
  margin-bottom: 2%;
}
.feedback .customer-item .description {
  padding: 40px 40px 40px 0;
  display: flex;
  flex: 5;
  justify-content: space-between;
  flex-direction: column;
}
.feedback .customer-item > img {
  flex: 1;
  width: 10%;
  aspect-ratio: 1/1;
  object-fit: contain;
  padding: 40px 0 40px 40px;
}
.feedback .customer-item .below {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}
.feedback .customer-item .below img {
  width: 4%;
}

/* footer */
.footer {
  padding: 80px 0;
  background-color: var(--main-text-color);
}
.footer .body {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
.footer .body .col {
  flex: 1;
}
.footer .body .col .logo {
  filter: brightness(0) invert(1);
}
.footer .body .col h4 {
  margin-bottom: 24px;
}
.footer .body .col h4,
.footer .body .col .p-400 {
  color: #fff;
}
.footer .body .col > img {
  width: 50%;
}
.footer .body:first-child .col .icon-list img {
  margin-right: 5%;
}
.footer .body .col img:not(.logo) {
  width: 7%;
  background-color: #fff;
  padding: 3px;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.footer .body .col:nth-child(2) a {
  text-decoration: none;
  text-transform: capitalize;
  display: block;
}
.footer .body a:hover {
  color: #fff;
}
.footer .body .col .contact-item {
  display: flex;
  align-items: flex-start;
  gap: 5%;
}
.footer .body .col .contact-item:not(:last-child) {
  margin-bottom: 24px;
}
